<h1>Listado de Heroes</h1> 
<h4><span style="color: rgb(158, 0, 0);">Esta aplicación utiliza una api cargada en render.com si la app no muestra datos por favor espere 1 minuto y vuelva a intentar, <br/>debido a que despues de ciertos minutos de inactividad el api entra en modo descanso, gracias</span></h4>
<mat-divider></mat-divider>


<div class="grid bm-8">
    <div 
    *ngFor="let hero of heroes"
    class="col-12 sm:col-4 md:col-3 xl:col-2">
    <heroes-hero-card [hero]="hero"></heroes-hero-card>
    </div>
</div>